[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
uvicorn = "*"
fastapi = "*"
aiofiles = "*"
transformers = "*"
torch = "*"

[requires]
python_version = "3.8"
